@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Merriweather:300,400,400i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Font weights
$light: 300;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Merriweather', serif;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 32px;

// header font
$base-header-font-family: 'Raleway', sans-serif;
$base-header-font-weight: $bold;
$base-header-font-size: 48px;
$base-header-line-height: 64px;

// other font
$base-other-font-family: 'Raleway', sans-serif;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 18px;
$fixed-line-height: $base-line-height;

