$font-color: rgb(100, 90, 95);
$font-header-color: #585558;
$background-color: white;
$background-alt-color: #f7f7f7;
$border-color: #DEDEDE;
$font-other-color: rgb(143, 141, 158);
$very-light-gray: #f4f5f7;

$accent-color: #FF0066;
$accent-alt-color: #1F256E;