$font-color: #4E4047;
$font-header-color: #4E4047;
$background-color: white;
$background-alt-color: #f7f7f7;
$border-color: #DEDEDE;
$font-other-color: rgb(143, 141, 158);

$accent-color: #FF0066;
$accent-alt-color: #1F256E;