$max-width: 1120px;

%max-width-container {
    max-width: $max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.max-width-container {
    @extend %max-width-container;
}

.container {
    @extend %grid;
    @extend %max-width-container;
    margin: 0 auto;

    p, h1, h2, h3, h4, h5, h6 {
        padding: 0px 24px;
    }
}

.blog nav {
    padding: 12px 0;
}

nav {
    .max-width-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            justify-self: left;
            padding-left: 24px;
        }
        .links {
            padding-right: 24px;
            justify-self: right;
            display: inline-block;
            a {
                display: flex;
                align-items: center;
                margin-left: 48px;
                i {
                    margin-left: 12px;
                    font-size: inherit;
                }
            }
        }
    }
}