.blog nav {
    background-repeat: repeat;
}

nav {
    background: darken($accent-alt-color, 7);
    box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.reverse {
    .button {
        border-color: white;
        color: white;
        &:hover {
            background: white;
            color: $accent-alt-color;
        }
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    small {
        color: white !important;
    }
}

.button {
    @extend %base-type-other;
    border-color: $accent-color;
    color: $accent-color;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    border: 1px solid;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.2s all ease;
    &:hover {
        background: $accent-color;
        color: white;
    }
}

.blog {
    section {
        img {
            border-radius: 3px;
        }
        .gifv {
            border-radius: 12px;
        }
    }
}

.full-page {
    &.white {
        background: white;
    }
}

pre {
    border-radius: 4px;
}