%base-type {
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $font-color;
}

%base-type-spacing {
    margin-left: 24px;
    margin-right: 24px;
}

%base-type-header {
    line-height: $base-header-line-height;
    font-weight: $base-header-font-weight;
    font-family: $base-header-font-family;
    font-size: $base-header-font-size;
    letter-spacing: 0.01em;
    color: $font-header-color;
    text-decoration: none;
}

%base-type-other {
    @extend %base-type;
    font-family: $base-other-font-family;
}

p {
    @extend %base-type;
    text-align: justify;
    margin-bottom: 24px;
    border-collapse: collapse;
}

p,
h1,
a,
small,
h2,
h3,
h4,
h5,
h6 {
    .large {
        font-size: 150%;
    }
}

h1 {
    @extend %base-type-header;
    margin-bottom: 24px;
    margin-top: 56px;
}

h1.display {
    font-size: 72px;
    line-height: 1.4em;
    @media only screen and (max-width: $tablet) {
        font-size: 48px;
    }
}

h2,
.content h1 {
    @extend %base-type-header;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 12px;
    margin-top: 48px;
}

h3,
.content h2 {
    @extend %base-type-header;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
    margin-top: 36px;
}

.content h2 {
    font-family: $base-other-font-family;
    font-weight: 700;
}

// remove text decoration from elements within an anchor block
a {
    text-decoration: none;
}

p a {
    text-decoration: underline;
    color: $accent-color;
    font-weight: bold;
}

// style links in nav
nav a {
    @extend %base-type-other;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

small {
    @extend %base-type-other;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: $font-other-color;
    font-weight: bold;
    letter-spacing: 0.07em;
}

.blog {
    .hero {
        h1 {
            color: white;
            text-align: center;
        }
    }
    section {
        small {
            text-transform: none;
            font-weight: 400;
            font-size: 14px;
        }
    }
    .container {
        p:first-child {
            margin-top: 3em;
            &::first-letter {
                font-size: 400%;
                padding: 3px 12px;
                border-radius: 3px;
                background: #1d1e1e;
                color: white;
                vertical-align: 0.31em;
                margin-right: 0.1em;
            }
        }
    }
}

p.display {
    @extend %base-type-other;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    @media only screen and (max-width: $tablet) {
        font-size: 20px;
    }
}

ul {
    @extend %base-type;
    @extend %base-type-spacing;
    list-style-position: outside;
    margin-bottom: 24px;
    ul {
        margin-bottom: 0;
        margin-left: 48px;
    }
    li {
        position: relative;
        left: -1em;
    }
    li::before {
        display: inline-block;
        content: "\2022";
        color: $accent-color;
        width: 1em;
    }
}

pre {
    line-height: 1.5;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-wrap;
}

strong {
    font-weight: bold;
}