{% extends "blog/index.html" %} {% block content %} {% set section = get_section(path="blog/_index.md") %} {% for page in
section.pages %} {% if page.draft == false %}
<div class="container small initial-content posts">
    <div class="col w12 post">
        <a href="{{page.permalink}}">
            <h1>{{ page.title }}</h1>
        </a>
        <p>
            {%if page.description%}{{page.description }}{% else %}{{ page.content | safe | striptags | truncate }}{% endif %}
        </p>
    </div>
    </a>
</div>
{% endif %} {% endfor %} {% endblock content %}