{% extends "blog/index.html" %} 

{% block header %} 
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{current_url}}">
    <meta property="og:description" content="{%if page.description%}{{page.description }}{% else %}{{ page.content | safe | striptags | truncate }}{% endif %}">
    {% if page.extra.cover %} 
        {% set image = resize_image(path=page.path ~ page.extra.cover, width=1200, height=730, op="fill") %}
        <meta property="og:image" content='{{image}}'> 
    {% endif %}
        {% if page.taxonomies.authors %}<meta property="article:author" content="{{page.taxonomies.authors[0]}}">{% endif %}
        {% if config.extra.newsletter.blog.adwords_code %}<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script>(adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "{{config.extra.newsletter.blog.adwords_code}}",enable_page_level_ads: true});</script>{% endif %} 
{% endblock header %} 

{% block title %}{{page.title}} | {{ config.title }}{% endblock title %}
{% block description %} {%if page.description%}{{page.description }}{% else %}{{ page.content | safe | striptags | truncate }}{% endif %}{% endblock %}

{% block content %}
{% if page.extra.cover %}
<div class="hero" style="background-image: url(/{{page.path}}{{page.extra.cover}});">
    <h1 class="col w8 lg">{{ page.title }}</h1>
</div>
{% endif %}
<section>
    <div class='container article'>
        {% if not page.extra.cover %}
            <h1 class="col w8 lg first">{{ page.title }}</h1>
        {% endif %}
        <div class="col w8 content md third">
            <p>{{ page.content | safe | markdown(inline=true) }}</p>
        </div>
        <div class="col w4 second md">
            {% if page.taxonomies.authors %}<small>By {{ page.taxonomies.authors[0] }}</small>{% endif %}
            <br> {% if page.date %}<small>{{ page.date | date(format='%b %m, %Y at %H:%M %Z') }}</small>{% endif %}
            <br> {% if page.taxonomies.categories %}
            <small>
                {% for category in page.taxonomies.categories %} [ {{ category }} ]<br> {% endfor %}
            </small>
            {% endif %}
        </div>
    </div>
    <section class="container">
        {% if config.extra.newsletter.blog.mailchimp %}
        <div class="email-signup col w8 md">
            <h2>Get unique perspectives on design & development</h2>
            <p>We'll be honest, U9H isn't a big-name agency or a Silicon Valley superstar (yet).  But give us a chance, and we promise to deliver impactful stories that enhance your design & development skills.
            </p>
            <div class="button email-start-button">Let's do it!</div>
            <form class="email-form display-none" 
                method="POST"
                action='https://{{config.extra.newsletter.blog.mailchimp.prefix}}.list-manage.com/subscribe/post?u={{config.extra.newsletter.blog.mailchimp.uid}}&amp;id={{config.extra.newsletter.blog.mailchimp.id}}'
                data-prefix="{{config.extra.newsletter.blog.mailchimp.prefix}}"
                data-uid="{{config.extra.newsletter.blog.mailchimp.uid}}"
                data-id="{{config.extra.newsletter.blog.mailchimp.id}}">
                <div>
                    <input type="email" name="EMAIL" required/>
                    <input type="submit" class="button"/>
                </div>
            </form>
            <h3 class="email-finish display-none">You're awesome, thanks!</h3>
        </div>
        {% endif %}
        <div class="col w8 md">
            {{ macros::comments(url=current_url, slug=current_path, disqus_url=config.extra.newsletter.blog.disqus_url) }}
        </div>
    </section>
</section>
{% endblock content %}