{% extends "blog/index.html" %} {% block header %} {% if config.extra.newsletter.blog.adwords_code %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{config.extra.newsletter.blog.adwords_code}}",
        enable_page_level_ads: true
    });
</script> {% endif %} {% endblock header %} {% block content %} {% if page.extra.cover %}
<div class="hero" style="background-image: url(/{{page.path}}{{page.extra.cover}});">
    <h1 class="col w8">{{ page.title }}</h1>
</div>
<section class='container'>
    {% else %}
    <section class='container'>
        <h1 class="col w8">{{ page.title }}</h1>
        {% endif %}
        <div class="col w8 content">
            <p>{{ page.content | safe | markdown(inline=true) }}</p>
        </div>
        <div class="col w4">
            {% if page.taxonomies.authors %}<small>By {{ page.taxonomies.authors[0] }}</small>{% endif %}
            <br> {% if page.date %}<small>{{ page.date | date(format='%b %m, %Y at %H:%M %Z') }}</small>{% endif %}
            <br> {% if page.taxonomies.categories %}
            <small>
                {% for category in page.taxonomies.categories %} [ {{ category }} ]<br> {% endfor %}
            </small>
            {% endif %}
        </div>
        {{ macros::comments(url=current_url, slug=current_path, disqus_url=config.extra.newsletter.blog.disqus_url) }}
    </section>
    {% endblock content %}