{% extends "master/index.html" %} {% block page %}
<div class="quirky-bg" style="background-image: url(/media/default_pattern.png)">a
</div>
<nav>
    <div class="container padded-h">
        <a href="/">
            <img class="col w2" src="{{config.extra.newsletter.logo}}" />
        </a>
        <div class="col w10 v-middle align-right links">
            {% for item in config.extra.newsletter.menu %}
            <a href="{{ item.url }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</nav>
{% block content %}
<div class="center-children-vertically">
    <div class="container padded inverse">
        <div class="col w6 large">
            <h1>{{config.extra.newsletter.home.header}}</h1>
            <h3>{{config.extra.newsletter.home.subheader}}</h3>
        </div>
    </div>
</div>
{% endblock content %} {% endblock page %}