{% extends "master/index.html" %} {% block page %}
<div class="main">
<div class="quirky-bg" style="background-image: url(/media/default_pattern.png)">a
</div>

<nav class="fixed">
    <div class="max-width-container">
        <a href="/" class="logo">
            <img src="{{config.extra.newsletter.logo}}" />
        </a>
        <div class="links">
            {% for item in config.extra.newsletter.menu %}
            <a href="{{ item.url }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</nav>

{% block content %}
<div class="full-page center-vertical">
    <div class="container reverse">
        <div class="col w8">
            <h1>{{config.extra.newsletter.home.header}}</h1>
        </div>
        <div class="col w8">
            <p>{{config.extra.newsletter.home.subheader}}</p>
        </div>
        <div class="col w4 pull-right">
            <a href="mailto:alex@u9h.design" class="button">
                Work With Us <i class="material-icons">arrow_forward</i>
            </a>
        </div>
    </div>
</div>
{% endblock content %} 
</div>
{% endblock page %}