{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{config.extra.newsletter.description}}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600" rel="stylesheet"> 
    {% if config.extra.newsletter.cms %} <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> {% endif %}
    {% if config.extra.newsletter.analytics_code %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{config.extra.newsletter.analytics_code}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{config.extra.newsletter.analytics_code}}');
        </script>
    {% endif %}
    {% if config.extra.newsletter.ackee_id %}
      <script async src="https://cdn.jsdelivr.net/npm/ackee-tracker@3/dist/ackee-tracker.min.js" data-ackee-server="{{config.extra.newsletter.ackee_server}}" data-ackee-domain-id="{{config.extra.newsletter.ackee_id}}"></script>
    {% endif %}

    <script src="/js/ajax.js"></script>
    <script src="/js/main.js"></script>
    <style>
        .quirky-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            animation-name: slide;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            background-repeat: repeat;
            z-index: -1000;
        }

        .reverse {
            animation-direction: reverse;
        }
    </style>
    {% block header %} {% endblock %}
</head>

<body>
    <div style="min-height: 100vh;">
        {% block page %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="col md w4">
                <p> © 2018 U9H </p>
            </div>
        </div>
    </footer>
</body>

{% if config.extra.newsletter.cms %}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script> {% endif %}

</html>
