<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{config.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600" rel="stylesheet"> {% if config.extra.newsletter.cms
    %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{% endif %}
    <style>
        .quirky-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            animation-name: slide;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            background-repeat: repeat;
            z-index: -1000;
        }

        .reverse {
            animation-direction: reverse;
        }
    </style>
</head>

<body>
    {% block page %} {% endblock %}
</body>

{% if config.extra.newsletter.cms %}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script> {% endif %}

</html>